<input type="hidden" value="{{login}}" id="islogin">
<section class="owl-carousel active-product-area section_gap">
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Sản phẩm nổi bật </h1>
					</div>
				</div>
			</div>
			<div class="row pages__mainuser">
				{{#each products}}
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img" src="/upload/{{this.Image}}" alt="">
						<div class="product-details">
							<a href="/detail/{{this._id}}">
								<div class="bases__text-bold bases__font--18">{{this.Name}}</div>
							</a>
							<div class="pro_bottom d-flex align-items-center">
								<div class="bases__text-bold text-danger">
									<div>${{this.Price}}</div>
								</div>
								<div class="">
									<a href="/cart/{{this._id}}" class="islogin">
										<button class="bases__btn btn-table ">
											<img class="bases__icon-sm" src="/img/cart.png" />
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
				<div class="">
					<nav aria-label="Page navigation example">
						Number of pages: {{pages}}
						Current page: {{current}}
						<ul class="pagination">
							{{#if current}}
							<li class="page-item">
								<a class="page-link" href="/?page={{previousPage}}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							{{/if}}
							{{#if hasPreviousPage }}
							<li class="page-item"><a class="page-link"
									href="/?page={{previousPage}}">{{previousPage}}</a></li>
							{{/if}}

							<li class="page-item active"><a class="page-link" href="javascript:void(0)"
									tabindex="-1">{{current}}</a></li>

							{{#if hasNextPage}}
							<li class="page-item"><a class="page-link" href="/?page={{nextPage}}">{{nextPage}}</a>
							</li>
							{{/if}}

							{{#if pages  }}
							<li class="page-item">
								<a class="page-link" href="/?page={{nextPage}}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
							{{/if}}

						</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>
</section>
<script src="js/jquery.js"></script>
<script>
	var islogin = $('#islogin').val();
	if (islogin === 'false') {
		$('.islogin').attr('href', '../user/login');
	}
</script>