<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Trang thể loại</h1>
			</div>
		</div>
	</div>
</section>

<!-- End Banner Area -->
<div class="pages__category">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="dropdown">
					<button onclick="myFunction()" class="bases__btn btn-dropdown">Danh mục</button>
					<div id="myDropdown" class="dropdown-content">
						<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
						<a href="/product">Tất cả sản phẩm</a>
						{{#each cate}}
						<a href="/cate/{{this.name}}.{{this._id}}">{{this.name}}</a>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						{{#each product}}
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="/upload/{{this.Image}}" alt="">
								<div class="product-details">
									<h6>{{this.Name}}</h6>
									<div class="price">
										<h6>{{this.price}}đ</h6>
									</div>
									<div class="prd-bottom">
										<a href="/addToCart/{{this._id}}" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">Thêm vào giỏ hàng</p>
										</a>
										<a href="/detail/{{this._id}}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">Xem chi tiết</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</section>
				<!-- End Best Seller -->
			</div>
		</div>
	</div>
</div>
<script src="/js/jquery.js"></script>
<script>
	function myFunction() {
		document.getElementById("myDropdown").classList.toggle("show");
	}

	function filterFunction() {
		var input, filter, ul, li, a, i;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		div = document.getElementById("myDropdown");
		a = div.getElementsByTagName("a");
		for (i = 0; i < a.length; i++) {
			txtValue = a[i].textContent || a[i].innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				a[i].style.display = "";
			} else {
				a[i].style.display = "none";
			}
		}
	}
</script>